.contact-page{
    width: 100%;
    height: $page-height;
    background-color: #fff;
    background: url("../imgs/contact-bg.jpg") no-repeat;
    background-size: cover;
    overflow: hidden;
}

#allmap{
    float: left;
    margin-top: 5.7%;
    margin-left: 7%;
    width: 80%;
    height: 50%;
}
