.events-page{
    display: block;
    position: relative;
    width: 100%;
    height: $page-height;
    background: url("../imgs/event-bg.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    overflow: hidden;
    h1{
        font-family: "myoswaldlight", $font-stack;
        font-size: 5.143rem;
        color: #fff;
        width: auto;
        margin: 1em 0;
        vertical-align: bottom;
    }
}

.events-box{
    position: relative;
    height: 43.43%;
    width: 56%;
    margin: 0 auto;
    overflow: scroll;
}


.event-1{
    background-color: #01669E;
    .event-img{
        background: url('../imgs/guggenheim.png') no-repeat;
    }
}

.event-2{
    background-color: #00B477;
    .event-img{
        background: url('../imgs/museum.png') no-repeat;
    }
}

.event-3{
    background-color: #D49538;
    .event-img{
        background: url('../imgs/van-gogh.png') no-repeat;
    }
}
.event-4{
    background-color: #00AF92;
    .event-img{
        background: url('../imgs/meeting.png') no-repeat;
    }
}

.event-item{
    display: block;
    width: 200px;
    height: 100%;
    float: left;
    .event-img{
        height: 65.79%;
        width: 100%;
        overflow: hidden;
        background-position: center center;
        background-size: 101% 101%;
    }
    .event-intro{
        display: block;
        width: 80%;
        margin: 12.4% auto 0 auto;
        color: #fff;
        font-weight: normal;
        font-size: 0.857rem;
        line-height: 1rem;
        letter-spacing: 0;
        text-align: left;
    }
}

.event-date{
    font-weight: lighter;
}
