/*-----------------------------------------------------------------------------

MOVIE PAGE

-----------------------------------------------------------------------------*/
.movie-page{
    height: 100%;
    width: 100%;
    position: relative;
}

.movie{
    position: relative;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -100;
}

.movie-cover{
    background: url("../imgs/overlay.png");
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.intro-panel{
    position: absolute;
    top: 50%;
    left: 50%;
    background-image: url("../imgs/intro1.png");
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
    width: 261px;
    height: 171px;
    overflow: hidden;
}

.footer-dim{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 90px;
    background: url("../imgs/video-blur.png") no-repeat;
    background-size: 100% 100%;
}
