
/*-----------------------------------------------------------------------------

ROOT ELEMENTS RESET

-----------------------------------------------------------------------------*/
*{
    padding: 0;
    margin: 0;
}

html{
    height: 100%;
    width: 100%;
}

body{
    min-height: 100%;
    width: 100%;
}

html{
    font-family: $font-stack;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
}

body {
  color: #333;
  background-color: #fff;
  line-height: 1.5rem;
  letter-spacing: 0em;
  min-height: 100%;
}

a {
  color: #0070c9;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

b,
strong {
  font-weight: 500;
}

i,
em {
  font-style: italic;
}

.lightfont{
    font-family: 'mysanfranciscodisplayultralight', $font-stack;
    font-weight: 100;
}

.divider{
    height: 1px;
    width: 60%;
    margin: 80px auto;
    background: #979797;
}

@media (max-width: 767px){

}
