/*-----------------------------------------------------------------------------

SCHOOL PAGE

-----------------------------------------------------------------------------*/
.school-page{
    position: relative;
    height: 1.5*$page-height;
    background-color: #fff;
}

.school-page h1{
    display: block;
    position: relative;
    font-family: 'myoswaldregular', $font-stack;
    font-weight: normal;
    font-size: 4rem;
    color: #FFD84F;
    float: left;
    margin-top: 5%;
}

.intro-div{
    position: relative;
    height: 85%;
    margin-top: 40px;
    clear: both;
}

.halftone-img{
    float: left;
    height: 85%;
    width: 20%;
    background: url("../imgs/halftone.jpg") no-repeat;
    background-size: cover;
}

.intro-text{
    display: block;
    overflow: scroll;
    float: left;
    max-width: 60%;
    max-height: 90%;
    margin-left: 10%;
    color: #000;
    font-weight: 300;
    font-size: 1.143rem;
    h2{
        font-weight: 400;
        font-size: 2.143rem;
    }
    p{
        display: block;
        margin-top: 15px;
        height: auto;
    }
}

.logo{
    position: relative;
    height: 46px;
    min-width: 50%;
    background: url("../imgs/LOGO.png") no-repeat;
    background-size: contain;
    margin-bottom: 29px;
}
