/*-----------------------------------------------------------------------------

FONTS

-----------------------------------------------------------------------------*/
@font-face {
  font-family: 'myoswaldlight';
  src: local("Oswald-Light"), local("Oswald Light"), url("../fonts/Oswald/oswald-light-webfont.woff2") format("woff2"), url("../fonts/Oswald/oswald-light-webfont.woff") format("woff"), url("../fonts/Oswald/Oswald-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'myoswaldregular';
  src: local("Oswald-Regular"), local("Oswald Regular"), url("../fonts/Oswald/oswald-regular-webfont.woff2") format("woff2"), url("../fonts/Oswald/oswald-regular-webfont.woff") format("woff"), url("../fonts/Oswald/Oswald-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'mysanfranciscodisplayultralight';
  src: local("SanFranciscoDisplay-Ultralight"), local("San Francisco Display UltraLight"), local("SanFranciscoDisplayUltraLight"), url("../fonts/SanFrancisco/sanfranciscodisplay-ultralight-webfont.woff2") format("woff2"), url("../fonts/SanFrancisco/sanfranciscodisplay-ultralight-webfont.woff") format("woff"), url("../fonts/SanFrancisco/SanFranciscoDisplay-UltraLight.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'mysanfranciscodisplaylight';
  src: local("SanFranciscoDisplay-Light"), local("San Francisco Display Light"), local("SanFranciscoDisplayLight"), url("../fonts/SanFrancisco/sanfranciscodisplay-light-webfont.woff2") format("woff2"), url("../fonts/SanFrancisco/sanfranciscodisplay-light-webfont.woff") format("woff"), url("../fonts/SanFrancisco/SanFranciscoDisplay-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'mysanfranciscodisplayregular';
  src: local("SanFranciscoDisplay-Regular"), local("San Francisco Display Regular"), local("SanFranciscoDisplayRegular"), url("../fonts/SanFrancisco/sanfranciscodisplay-regular-webfont.woff2") format("woff2"), url("../fonts/SanFrancisco/sanfranciscodisplay-regular-webfont.woff") format("woff"), url("../fonts/SanFrancisco/SanFranciscoDisplay-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'mysanfranciscodisplaymedium';
  src: local("SanFranciscoDisplay-Medium"), local("San Francisco Display Medium"), local("SanFranciscoDisplayMedium"), url("../fonts/SanFrancisco/sanfranciscodisplay-medium-webfont.woff2") format("woff2"), url("../fonts/SanFrancisco/sanfranciscodisplay-medium-webfont.woff") format("woff"), url("../fonts/SanFrancisco/SanFranciscoDisplay-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }
/*! normalize.css v4.0.0 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

progress {
  vertical-align: baseline; }

template,
[hidden] {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bolder; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

button,
input,
select,
textarea {
  font: inherit; }

optgroup {
  font-weight: bold; }

button,
input,
select {
  overflow: visible; }

button,
input,
select,
textarea {
  margin: 0; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer; }

[disabled] {
  cursor: default; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*-----------------------------------------------------------------------------

ROOT ELEMENTS RESET

-----------------------------------------------------------------------------*/
* {
  padding: 0;
  margin: 0; }

html, body {
  height: 100%;
  width: 100%; }

html {
  font-family: -apple-system, mysanfranciscodisplayregular, "Myriad Set Pro", "Helvetica Neue", Helvetica, Arial, "Source Han Sans CN", "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px; }

body {
  color: #333;
  background-color: #fff;
  line-height: 1.5rem;
  letter-spacing: 0em;
  min-height: 100%; }

a {
  color: #0070c9;
  text-decoration: none; }

a:hover {
  color: #fff; }

b,
strong {
  font-weight: 500; }

i,
em {
  font-style: italic; }

.lightfont {
  font-family: "mysanfranciscodisplayultralight", -apple-system, mysanfranciscodisplayregular, "Myriad Set Pro", "Helvetica Neue", Helvetica, Arial, "Source Han Sans CN", "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  font-weight: 100; }

.divider {
  height: 1px;
  width: 60%;
  margin: 80px auto;
  background: #979797; }

/*-----------------------------------------------------------------------------

HEADING ELEMENTS

-----------------------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-weight: 400;
  line-height: 1.2; }

/*-----------------------------------------------------------------------------

LAYOUT

-----------------------------------------------------------------------------*/
.wrapper {
  width: 100%;
  height: 100%; }

.container {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-out; }

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both; }

/*-----------------------------------------------------------------------------

MOVIE PAGE

-----------------------------------------------------------------------------*/
.movie-page {
  height: 100%;
  width: 100%; }

.movie {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  z-index: -100; }

.movie-cover {
  background: url("../imgs/overlay.png");
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

.intro-panel {
  position: absolute;
  top: 50%;
  left: 50%;
  background-image: url("../imgs/intro1.png");
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
  width: 261px;
  height: 171px;
  overflow: hidden; }

.footer-dim {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 90px;
  background: url("../imgs/video-blur.png") no-repeat;
  background-size: 100% 100%; }

/*-----------------------------------------------------------------------------

SCHOOL PAGE

-----------------------------------------------------------------------------*/
.school-page {
  position: relative;
  height: 1050px;
  background-color: #fff; }

.school-page h1 {
  display: block;
  position: relative;
  font-family: "myoswaldregular", -apple-system, mysanfranciscodisplayregular, "Myriad Set Pro", "Helvetica Neue", Helvetica, Arial, "Source Han Sans CN", "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  font-weight: normal;
  font-size: 4rem;
  color: #FFD84F;
  float: left;
  margin-top: 5%; }

.intro-div {
  position: relative;
  height: 85%;
  margin-top: 40px;
  clear: both; }

.halftone-img {
  float: left;
  height: 85%;
  width: 20%;
  background: url("../imgs/halftone.jpg") no-repeat;
  background-size: cover; }

.intro-text {
  display: block;
  overflow: hidden;
  float: left;
  max-width: 60%;
  max-height: 90%;
  margin-left: 10%;
  color: #000;
  font-weight: 300;
  font-size: 1.143rem; }
  .intro-text h2 {
    font-weight: 400;
    font-size: 2.143rem; }
  .intro-text p {
    display: block;
    margin-top: 15px;
    height: auto; }

.logo {
  position: relative;
  height: 46px;
  min-width: 50%;
  background: url("../imgs/LOGO.png") no-repeat;
  background-size: contain;
  margin-bottom: 29px; }

.gallery-page {
  position: relative;
  width: 100%;
  height: 700px;
  background: #fff;
  overflow: hidden; }

.gallery-items {
  width: auto;
  height: auto;
  margin: 6% auto;
  text-align: center; }

.row {
  display: inline-block;
  height: auto;
  width: auto; }

.gallery-item {
  position: relative;
  display: inline-block;
  height: 226px;
  width: 234px;
  overflow: hidden;
  background-color: #f1c40f;
  margin: 1.357% 21px; }
  .gallery-item img {
    position: absolute;
    left: 0;
    top: 0; }

.gallery-title {
  background-color: #fff;
  overflow: visible; }
  .gallery-title h1 {
    display: block;
    position: absolute;
    top: 80px;
    left: -80px;
    -webkit-transform: rotate(-90deg);
    font-family: myoswaldregular, -apple-system, mysanfranciscodisplayregular, "Myriad Set Pro", "Helvetica Neue", Helvetica, Arial, "Source Han Sans CN", "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
    font-size: 3.929rem;
    font-weight: 500;
    margin: 0; }
  .gallery-title p {
    display: block;
    float: right;
    text-align: left;
    font-family: mysanfranciscodisplaylight, -apple-system, mysanfranciscodisplayregular, "Myriad Set Pro", "Helvetica Neue", Helvetica, Arial, "Source Han Sans CN", "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
    font-weight: 100;
    font-size: 1.143rem;
    width: 155px; }
    .gallery-title p span {
      font-family: mysanfranciscodisplaymedium, -apple-system, mysanfranciscodisplayregular, "Myriad Set Pro", "Helvetica Neue", Helvetica, Arial, "Source Han Sans CN", "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
      font-weight: 400; }

.events-page {
  display: block;
  position: relative;
  width: 100%;
  height: 700px;
  background: url("../imgs/event-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  overflow: hidden;
  z-index: -5; }
  .events-page h1 {
    font-family: "myoswaldlight", -apple-system, mysanfranciscodisplayregular, "Myriad Set Pro", "Helvetica Neue", Helvetica, Arial, "Source Han Sans CN", "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
    font-size: 5.143rem;
    color: #fff;
    width: auto;
    margin: 1em 0;
    vertical-align: bottom; }

.events-box {
  position: relative;
  height: 43.43%;
  width: 56%;
  margin: 0 auto;
  overflow: hidden; }

.event-item {
  display: block;
  width: 200px;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  opacity: 0.9; }
  .event-item .event-img {
    background-repeat: no-repeat;
    height: 65.79%;
    width: 100%;
    overflow: hidden;
    background-position: center center;
    background-size: 101% 101%;
    z-index: 1; }
  .event-item .event-intro {
    display: block;
    width: 80%;
    margin: 12.4% auto 0 auto;
    color: #fff;
    font-weight: normal;
    font-size: 0.857rem;
    line-height: 1rem;
    letter-spacing: 0;
    text-align: left;
    z-index: 1; }
  .event-item .bg-blur {
    z-index: -2;
    position: absolute;
    width: 150%;
    min-height: 150%;
    height: auto;
    display: block;
    top: 40%;
    left: 0; }
  .event-item .bg-blur-overlay {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 100%;
    opacity: 0.7;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(46%, rgba(0, 0, 0, 0.08)), color-stop(59%, rgba(0, 0, 0, 0.08)), color-stop(100%, rgba(0, 0, 0, 0.9)));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.08) 46%, rgba(0, 0, 0, 0.08) 59%, rgba(0, 0, 0, 0.9) 100%);
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.08) 46%, rgba(0, 0, 0, 0.08) 59%, rgba(0, 0, 0, 0.9) 100%);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.08) 46%, rgba(0, 0, 0, 0.08) 59%, rgba(0, 0, 0, 0.9) 100%); }

.event-date {
  font-weight: lighter; }

.contact-page {
  width: 100%;
  height: 700px;
  background-color: #fff;
  background: url("../imgs/contact-bg.jpg") no-repeat;
  background-size: cover;
  overflow: hidden; }

#allmap {
  float: left;
  margin-top: 5.7%;
  margin-left: 7%;
  width: 80%;
  height: 50%; }

/*-----------------------------------------------------------------------------

FOOTER PAGE

-----------------------------------------------------------------------------*/
.footer {
  position: relative;
  width: 100%;
  height: 40px;
  background: white;
  text-align: center; }

.logo img {
  transform: translate(0, -131px); }

.contact {
  display: inline-block; }

.btn {
  display: inline-block;
  height: 20px;
  width: 62px;
  background: #E32429;
  border-radius: 2px;
  font-size: 10px;
  color: #FFFFFF;
  letter-spacing: 1.6px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  margin-top: 10px;
  line-height: 0px; }

.btn p {
  text-align: right;
  margin-right: 5px;
  line-height: 20px;
  margin-top: 0; }

.btn .icon {
  float: left;
  height: 15.5px;
  width: 19px;
  margin-left: 5.3px;
  margin-top: 1.5px;
  overflow: hidden; }

.weibo {
  background-color: #E32429; }

/*.weibo :hover{
    background-color: #C11B20;
}*/
.weibo img {
  transform: translate(0, -153px); }

.instagram {
  background-color: #2A5B83; }

/*.instagram :hover{
    background-color: #13456F;
}*/
.instagram img {
  transform: translate(0, -169px); }

.wechat {
  background-color: #1ECE29; }

/*.wechat :hover{
    background-color: #13AC1D;
}*/
.wechat img {
  transform: translate(0, -184px); }

.copyright {
  position: absolute;
  right: 26px;
  bottom: 13px;
  font-size: 11px;
  color: #808083; }

/*-----------------------------------------------------------------------------

MENU OBJECT

-----------------------------------------------------------------------------*/
.menu {
  background-color: #000;
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 200;
  top: 0;
  left: 0;
  transform: translateY(-60px);
  transition: transform 0.5s ease-out;
  text-align: center;
  vertical-align: middle; }

.menu.is-active {
  transform: translateY(0);
  transition: transform 0.5s ease-in; }

.menu-items {
  display: inline-block;
  width: 100%; }

.menu-item {
  display: inline-block;
  list-style: none;
  font-size: 0.857rem;
  margin: 0 2.5%; }

.menu-item:hover {
  opacity: 0.5;
  transition: opacity 0.1s ease-in; }

.menu-link {
  display: block;
  text-align: left;
  text-decoration: none;
  color: #fff;
  margin-top: 12px; }

.container.has-push-top {
  transform: translateY(60px);
  transition: transform 0.5s ease-in; }

.hamburger-btn {
  float: right;
  display: block;
  position: absolute;
  top: 116.7%;
  right: 0.7%;
  height: 83%;
  width: 50px;
  margin: 15px 15px 0 0;
  padding: 0;
  cursor: pointer;
  overflow: hidden;
  border-radius: 3px 3px 3px 3px;
  background-color: #282828;
  opacity: 0.9; }
  .hamburger-btn div {
    background-color: #fff;
    border-radius: 2px 2px 2px 2px;
    height: 10%;
    width: 72%;
    left: 14%; }

#layer-two {
  position: absolute;
  top: 23px;
  transition: background 0.3s ease; }

#layer-one,
#layer-three {
  position: absolute;
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s; }

#layer-one {
  top: 13px;
  transition-property: top, transform; }

#layer-three {
  bottom: 12px;
  transition-property: bottom, transform; }

.hamburger-btn.toggle-active {
  background-color: #fff; }

.hamburger-btn.toggle-active #layer-two {
  background: none; }

.hamburger-btn.toggle-active #layer-one {
  top: 23px;
  background-color: #000;
  transform: rotate(45deg); }

.hamburger-btn.toggle-active #layer-three {
  bottom: 22px;
  background-color: #000;
  transform: rotate(-45deg); }

.hamburger-btn.toggle-active #layer-one,
.hamburger-btn.toggle-active #layer-three {
  transition-delay: 0s; }

/*-----------------------------------------------------------------------------

MEDIA ELEMENTS

-----------------------------------------------------------------------------*/
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100%;
  height: 12px;
  background: #fff; }

.pace-inactive {
  display: none; }

.pace .pace-progress {
  background-color: #ffd33e;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 100%;
  width: 100%;
  overflow: hidden; }

.pace .pace-activity {
  position: fixed;
  top: 0;
  right: -32px;
  bottom: 0;
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.2)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.75, rgba(255, 255, 255, 0.2)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  -webkit-background-size: 32px 32px;
  -moz-background-size: 32px 32px;
  -o-background-size: 32px 32px;
  background-size: 32px 32px;
  -webkit-animation: pace-theme-barber-shop-motion 500ms linear infinite;
  -moz-animation: pace-theme-barber-shop-motion 500ms linear infinite;
  -ms-animation: pace-theme-barber-shop-motion 500ms linear infinite;
  -o-animation: pace-theme-barber-shop-motion 500ms linear infinite;
  animation: pace-theme-barber-shop-motion 500ms linear infinite; }

@-webkit-keyframes pace-theme-barber-shop-motion {
  0% {
    -webkit-transform: none;
    transform: none; }
  100% {
    -webkit-transform: translate(-32px, 0);
    transform: translate(-32px, 0); } }
@-moz-keyframes pace-theme-barber-shop-motion {
  0% {
    -moz-transform: none;
    transform: none; }
  100% {
    -moz-transform: translate(-32px, 0);
    transform: translate(-32px, 0); } }
@-o-keyframes pace-theme-barber-shop-motion {
  0% {
    -o-transform: none;
    transform: none; }
  100% {
    -o-transform: translate(-32px, 0);
    transform: translate(-32px, 0); } }
@-ms-keyframes pace-theme-barber-shop-motion {
  0% {
    -ms-transform: none;
    transform: none; }
  100% {
    -ms-transform: translate(-32px, 0);
    transform: translate(-32px, 0); } }
@keyframes pace-theme-barber-shop-motion {
  0% {
    transform: none;
    transform: none; }
  100% {
    transform: translate(-32px, 0);
    transform: translate(-32px, 0); } }

/*# sourceMappingURL=style.css.map */
