<footer class="footer">
    <!-- <div class="logo">
        <img src="imgs/homeimg.png" width="410px" height="200px" alt="Wenzhou-Kean University / Robert Bush School of Design" />
    </div> -->
    <div class="contact">
        <a href="#">
            <div class="btn weibo">
                <div class="icon">
                    <!-- <img src="imgs/homeimg.png" width="410px" height="200px" alt="weibo" /> -->
                </div>
                <p>关注</p>
            </div>
        </a>
        <a href="#">
            <div class="btn instagram">
                <div class="icon">
                    <!-- <img src="imgs/homeimg.png" width="410px" height="200px" alt="instagram" /> -->
                </div>
                <p>相册</p>
            </div>
        </a>
        <a href="#" class="btn wechat">
                <div class="icon">
                    <!-- <img src="imgs/homeimg.png" width="410px" height="200px" alt="wechat" /> -->
                </div>
                <p>订阅</p>
        </a>
    </div>
    <div class="copyright">
        Copyright &copy;2016
    </div>

</footer>
