<nav class="menu">
    <ul class="menu-items">
        <li class="menu-item"><a data-scroll href="#school-page" class="menu-link"><span>学校</span><br><span>THE SCHOOL</span></a></li>
        <li class="menu-item"><a data-scroll href="#admission-page" class="menu-link"><span>招生</span><br><span>ADMISSION</span></a></li>
        <li class="menu-item"><a data-scroll href="#events-page" class="menu-link"><span>活动</span><br><span>EVENTS</span></a></li>
        <li class="menu-item"><a data-scroll href="#gallery-page" class="menu-link"><span>画廊</span><br><span>GALLERY</span></a></li>
        <li class="menu-item"><a data-scroll href="#contact-page" class="menu-link"><span>联系</span><br><span>CONTACT</span></a></li>
    </ul>
    <div class="hamburger-btn ">
        <div id="layer-one"></div>
        <div id="layer-two"></div>
        <div id="layer-three"></div>
    </div>
</nav>
